/* ----- ABOUT SECTION -----*/

.subSection {
	position: relative;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.aboutHeadshotWrapper {
	width: 30%;
}
.aboutHeadshot {
	width: 100%;
	display: block;
}
.aboutHeadshotImage--reflection {
	position: absolute;
	transform: scaleY(-1);
	opacity: 0.15;
	width: 30%;
}
.headshotImageFade {
	background-image: linear-gradient(to bottom, black 50%, transparent);
	position: absolute;
	top: -1px;
	left: 0;
	right: 0;
	bottom: 0;
}
.aboutSection .subSection__bodyText:nth-child(2) {
	margin-top: 0;
}
.subSection__textWrapper {
	width: 65%;
	color: $lightColor;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.aboutGraphLessMargin {
	margin-top: 0;
}
.subSection__header {
	font-size: 2rem;
	margin: 0;
	color: white;
}
.skillsHeader {
	width: 90%;
	display: block;
	margin: 0 auto;
}
.aboutSection .subSection__header::after {
	content: '';
	display: block;
	margin-top: 5px;
	margin-bottom: 20px;
	height: 3px;
	width: 100%;
	background-image: linear-gradient(to right, transparent, rgb(18, 183, 233) 10%, transparent);
	position: relative;
	z-index: 100;
}

/* ----- SKILLS SECTION -----*/
.skillsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 50px;
	list-style-type: none;
}
.skillItem {
	width: 20%;
	padding: 10px;
	margin-bottom: 40px;
	position: relative;
	top: 50px;
	opacity: 0;
}
.skillItem:nth-child(1n + 5) {
	margin-bottom: 0;
}
.skillItem__label {
	font-size: 2rem;
	font-family: $mainFont;
	margin: 0;
	color: $lightColor;
	opacity: 1;
	text-transform: uppercase;
}
.skillItem__icon {
	color: $mainColor;
    -webkit-text-fill-color: transparent;
	font-size: 6rem;
	display: block;
	width: 100%;
	text-align: center;
	background-image: linear-gradient(190deg,
						transparent 20%,
						rgba(255,255,255,0.2) 35%,
						transparent 38%),
				linear-gradient(to bottom, 
					rgb(49, 207, 255),
					rgb(1, 104, 136));
	-webkit-background-clip: text;
	background-clip: text;
}
.skillItem__icon--reflection {
	transform: scaleY(-1);
	position: absolute;
	left: 0;
	color: $mainColor;
    -webkit-text-fill-color: transparent;
	font-size: 6rem;
	display: block;
	width: 100%;
	text-align: center;
	background-image: linear-gradient(to bottom, 
						rgba(0,0,0,1) 50%,
						rgb(3, 123, 160));
	opacity: 0.2;
	-webkit-background-clip: text;
	background-clip: text;
}

/* ----- SKILL ITEM ANIMATION -----*/
.skillItemSlide {
	top: 0;
	opacity: 1;
}
$slideLength: 1s;

.skillItemSlide:nth-child(1) {
	transition: all $slideLength ease-out;
}
.skillItemSlide:nth-child(2) {
	transition: all $slideLength 0.1s ease-out;
}
.skillItemSlide:nth-child(3) {
	transition: all $slideLength 0.2s ease-out;
}
.skillItemSlide:nth-child(4) {
	transition: all $slideLength 0.3s ease-out;
}
.skillItemSlide:nth-child(5) {
	transition: all $slideLength 0.4s ease-out;
}
.skillItemSlide:nth-child(6) {
	transition: all $slideLength 0.5s ease-out;
}
.skillItemSlide:nth-child(7) {
	transition: all $slideLength 0.6s ease-out;
}
.skillItemSlide:nth-child(8) {
	transition: all $slideLength 0.7s ease-out;
}
.skillItemSlide:nth-child(9) {
	transition: all $slideLength 0.8s ease-out;
}
.skillItemSlide:nth-child(10) {
	transition: all $slideLength 0.9s ease-out;
}