.contactSection {
	position: relative;
	z-index: 100;
}

/* ----- EMAIL & TWITTER -----*/
.contactInfo {
	margin: 0;
	margin-top: 50px;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.contactInfo li {
	position: relative;
}
.contactInfo li:first-child {
	margin-right: 50px;
}
.contactBackground {
	color: $lightColor;
	font-size: 1.2rem;
	display: inline-block;
	margin-right: 5px;
}
.contactInfoItem {
	font-family: $bodyFont;
	color: $mainColor;
	text-decoration: none;
	font-size: 1.2rem;
	transition: all 0.2s ease-out;
	position: relative;
	z-index: 200;
}
.contactInfoItem::after {
	content: '';
	display: block;
	background-color: $mainColor;
	width: 0;
	opacity: 0;
	height: 2px;
	transition: all 0.4s ease-out;
	position: relative;
	left: 0;
}
.contactInfoItem:hover, .contactInfoItem:focus {
	color: $lightColor;
}
.contactInfoItem:hover::after, .contactInfoItem:focus::after {
	opacity: 1;
	width: 100%;
}

/* ----- FORM STYLES -----*/
.contactForm {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 50px auto;
	overflow: hidden;
}
.contactForm .portfolioItemLink {
	width: 70%;
	margin: 0 auto;
}
.contactFormInput {
	font-size: 1.2rem;
	font-family: $bodyFont;
	color: rgb(40, 40, 40);
	padding: 10px;
	padding-left: 7px;
	padding-bottom: 7px;
	border: none;
	outline: none;
	margin-bottom: 15px;
	transition: all 0.2s ease-out;
	line-height: 1.1;
}
.contactFormInput:focus {
	border-left: 7px solid $mainColor;
}
.hiddenLabel {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}