/* ----- GLOBAL STYLINGS -----*/

body {
	background-color: black;
	font-size: 62.5%;
	font-family: $mainFont;
	color: $darkColor;
}
p {
	font-family: $bodyFont;
	font-weight: 300;
}
.wrapper {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 70px;
}
// Give space to landing page
.aboutSection {
	margin-top: 100vh;
}