/* ----- LANDING PAGE -----*/

header {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.landingPage {
	opacity: 1;
}
.headerFadeOut {
	opacity: 0;
}
/* ----- PAGE TITLE & SUBTITLE -----*/
.pageTitleWrapper {
	width: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pageTitleWrapper div {
	position: relative;
}
.pageTitleFN, .pageTitleLN {
	position: relative;
	background-image: linear-gradient(
						transparent 30%,
						rgba(255,255,255,0.2) 45%,
						transparent 48%),
				linear-gradient(to bottom, 
					rgb(49, 207, 255),
					rgb(1, 104, 136));
}
.pageTitleFN { //First Name - First line of title
	animation: initialText 1.2s forwards ease-out;
}
.pageTitleLN { //Last Name - Second line of title
	animation: initialText 1.2s 0.6s forwards ease-out;
}
.pageTitleFN--reflection { //First Name - First line of title
	animation: initialText--reflection 1.2s forwards ease-out;
}
.pageTitleLN--reflection { //Last Name - Second line of title
	animation: initialText--reflection 1.2s 0.6s forwards ease-out;
}
.pageTitleFN--reflection, .pageTitleLN--reflection {
	position: absolute;
	left: 50%;
	background-image: linear-gradient(to bottom, 
						rgba(0,0,0,1) 50%,
						rgb(3, 123, 160));
	transform: scaleY(-1)
			   translateX(-50%);
}
.pageTitleFN, .pageTitleLN, .pageTitleFN--reflection, .pageTitleLN--reflection {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	color: $mainColor;
    -webkit-text-fill-color: transparent;
	opacity: 0;
	margin: 0;
	font-size: 6rem;
	-webkit-background-clip: text;
	background-clip: text;
}
.pageTitleLN {
	margin-bottom: 50px;
}
.pageSubtitle {
	text-align: center;
}
.pageSubtitle span {
	color: white;
	font-size: 1.6rem;
	opacity: 0;
	margin: 0;
	position: relative;
}
.pageSubtitle span::before {
	content: '-';
}
.pageSubtitle span:first-child::before {
	content: '';
}
.pageSubtitle span:nth-child(1) {
	animation: initialText 1s 1.4s forwards ease-out;
}
.pageSubtitle span:nth-child(2) {
	animation: initialText 1s 2.1s forwards ease-out;
}
.pageSubtitle span:nth-child(3) {
	animation: initialText 1s 2.8s forwards ease-out;
}

.landingPageHide {
	transform: scale(0.8);
	opacity: 0;
}

/* ----- ANIMATION DEFINITIONS -----*/
// Text fade in and slide up
@keyframes initialText {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes initialText--reflection {
	0% {
		opacity: 0;
		bottom: calc(-60% - 50px);
	}
	100% {
		opacity: 0.6;
		bottom: -60%;
	}
}
// Background fade in and scale down
@keyframes initialBackground {
	0% {
		opacity: 0;
		transform: scale(1.1);
	}
	100% {
		opacity: 0.15;
		transform: scale(1);
	}
}