@media (max-width: 768px) {
    .pageTitleFN, .pageTitleLN, .pageTitleFN--reflection, .pageTitleLN--reflection {
        font-size: 80px;
    }
    .skillItem__icon, .skillItem__icon--reflection {
        font-size: 4.5rem;
    }
    .portfolioImageWrapper, .portfolioDescriptionWrapper {
        width: 100%;
        text-align: center;
    }
    .portfolioItem {
        .subSection__header {
            order: 1;
        }
        .portfolioImageWrapper {
            order: 2;
            margin-bottom: 70px;
        }
        .portfolioDescriptionWrapper {
            order: 3;
            width: 80%;
            margin: 0 auto;
            z-index: 250;
        }
        .portfolioExtras {
            order: 4;
        }
        .portfolioLinkWrapper {
            order: 5;
        }
    }
}
@media (max-width: 668px) {
    .portfolioItem {
        .portfolioImageWrapper {
            margin-bottom: 40px;
        }
    }
    .pageTitleFN, .pageTitleLN, .pageTitleFN--reflection, .pageTitleLN--reflection {
        font-size: 64px;
    }
    .portfolioConceptsList::before {
        content: '';
        display: block;
        margin-bottom: 20px;
        height: 3px;
        width: 100%;
        background-image: linear-gradient(to right, transparent, rgb(18, 183, 233), transparent);
        position: relative;
        z-index: 100;
    }
    .wrapper {
        padding: 0 30px;
    }
    .contactForm {
        width: 80%;
        margin: 30px auto;
    }
    .contactInfo {
        flex-direction: column;
        align-items: flex-start;
    }
    .contactInfo li:first-child, .contactInfo li {
        margin: 0 0 20px 0;
    }
    .skillItem {
        width: 33%;
    }
    .skillItem:nth-child(1n + 5) {
        margin-bottom: 40px;
    }
    .skillItem:last-child {
        display: none;
    }
}
@media (max-width: 480px) {
    .portfolioItem {
        .portfolioImageWrapper {
            margin-bottom: 30px;
        }
        .portfolioDescriptionWrapper {
            width: 100%;
        }
    }
    .pageTitleFN, .pageTitleLN, .pageTitleFN--reflection, .pageTitleLN--reflection {
        font-size: 48px;
    }
    .pageTitleWrapper {
        width: 100%;
    }
    .sectionHeader__title {
        font-size: 2.5rem;
    }
    .pageSubtitle {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        opacity: 0.5;
    }
    .pageSubtitle span {
        margin: 5px 0;
    }
    .subSection__bodyText {
        font-size: 1.2rem;
    }
    .contactForm {
        width: 90%;
    }
    .portfolioConceptsList {
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
    }
    .portfolioLinkWrapper {
        flex-direction: column;
    }
    .portfolioItemLink:first-child {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .portfolioItemLink {
        text-align: center;
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .contactInfoItem {
        font-size: 1rem;
    }
    footer .wrapper {
        flex-direction: column-reverse;
	    margin-bottom: 10px;
    }
    footer a {
        margin-top: 20px;
    }
    .socialIcons {
        position: fixed;
        right: 20px;
        bottom: 10px;
        z-index: 1000;
    }
}

@media (max-width: 380px) {
    .skillItem__icon, .skillItem__icon--reflection {
        font-size: 60px;
    }
    .sectionHeader__title {
        font-size: 2rem;
    }
    .contactForm .portfolioItemLink {
        padding-left: 0;
        padding-right: 0;
        width: 90%;
    }
}