.portfolioItem {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	margin-top: 50px;
	position: relative;
	opacity: 0;
	transition: all 0.5s ease-out;
	z-index: 200;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 100px;
}
.portfolioItem .subSection__header {
	color: white;
	width: 100%;
	text-align: center;
}
.portfolioItem .subSection__header::after {
	content: '';
	display: block;
	margin-top: 5px;
	margin-bottom: 20px;
	height: 3px;
	width: 100%;
	background-image: linear-gradient(to right, transparent, rgb(18, 183, 233), transparent);
	position: relative;
	z-index: 100;
}
.portfolioItem .subSection__bodyText {
	margin: 0;
}
.portfolioImageWrapper {
	width: 48%;
	margin: 0;
	position: relative;
}
.portfolioDescriptionWrapper {
	width: 48%;
	margin: 0;
	color: $lightColor;
}
.portfolioExtras {
	width: 100%;
}
.portfolioSampleImage {
	width: 100%;
}
.sampleImageBorder {
	border: 1px solid #222222;
}
.portfolioSampleImage--reflection {
	position: absolute;
	transform: scaleY(-1);
	opacity: 0.25;
	width: 100%;
}
.sampleImageFade {
	background-image: linear-gradient(to bottom, black 50%, transparent);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.portfolioFadeIn {
	opacity: 1;
}
.portfolioConceptsList {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	margin-top: 25px;
	padding: 0;
	justify-content: center;
}
.portfolioConceptItem {
	font-family: $bodyFont;
	color: $lightColor;
	font-weight: 300;
	font-size: 1.2rem;
	margin: 10px;
	padding-bottom: 10px;
	font-style: italic;
}
.portfolioLinkWrapper {
	display: flex;
	justify-content: center;
	z-index: 100;
	position: relative;
}
.portfolioItemLink {
	text-decoration: none;
	font-family: $mainFont;
	font-weight: 300;
	font-size: 1rem;
	color: $darkColor;
	border: 2px solid $darkColor;
	background-image: linear-gradient(
						transparent 20%,
						rgba(255,255,255,0.2) 35%,
						transparent 38%),
				linear-gradient(to bottom, 
					rgb(49, 207, 255),
					rgb(1, 104, 136));
	padding: 10px;
	border-radius: 4px;
	transition: all 0.3s ease-out;
}
.portfolioItemLink:first-child {
	margin-right: 20px;
}
.portfolioItemLink:hover {
	color: $lightColor;
	border: 2px solid $lightColor;
}