.portfolioItem {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
	position: relative;
	opacity: 0;
	transition: all 0.5s ease-out;
	z-index: 20;
}
.portfolioItem__title {
	color: $lightColor;
	margin: 0;
	font-size: 2.4rem;
}
.portfolioItem__sampleImage {
	// border-top: 3px solid $mainColor;
	// border-bottom: 3px solid $mainColor;
	width: 100%;
	display: block;
}
.portfolioItem__imageContainer::before,
.portfolioItem__imageContainer::after  {
	content: '';
	display: block;
	height: 3px;
	background-color: $mainColor;
	position: relative;
}
.portfolioItem__imageContainer::before {
	top: -6px;
}
.portfolioItem__imageContainer::after {
	top: 6px;
}
.portfolioItem__description {
	color: white;
	font-size: 1.6rem;
}
.portfolioFadeIn {
	opacity: 1;
}