// .portfolioItem {
// 	max-width: 960px;
// 	width: 90%;
// 	margin: 0 auto;
// 	position: relative;
// 	opacity: 0;
// 	transition: all 0.5s ease-out;
// 	z-index: 20;
// }
// .portfolioItem__title {
// 	color: $lightColor;
// 	margin: 0;
// 	font-size: 2.4rem;
// }
// .portfolioItem__sampleImage {
// 	// border-top: 3px solid $mainColor;
// 	// border-bottom: 3px solid $mainColor;
// 	width: 100%;
// 	display: block;
// }
// .portfolioItem__imageContainer::before {
// 	top: -6px;
// }
// .portfolioItem__imageContainer::after {
// 	top: 6px;
// }
// .portfolioItem__description {
// 	color: white;
// 	font-size: 1.6rem;
// }
// .portfolioFadeIn {
// 	opacity: 1;
// }

.portfolioItem {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
	opacity: 0;
	transition: all 0.5s ease-out;
	z-index: 200;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolioImageWrapper {
	width: 38%;
	margin: 0;
	position: relative;
}
.portfolioDescriptionWrapper {
	width: 58%;
	margin: 0;
	color: $lightColor;
}
.portfolioExtras {
	width: 100%;
}
.portfolioSampleImage {
	width: 100%;
}
.portfolioSampleImage--reflection {
	position: absolute;
	transform: scaleY(-1);
	opacity: 0.2;
	width: 100%;
}
.sampleImageFade {
	background-image: linear-gradient(to bottom, black 50%, transparent);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.portfolioFadeIn {
	opacity: 1;
}
.portfolioConceptsList::before {
	content: '';
	display: block;
	height: 3px;
	width: 100%;
	background-image: linear-gradient(to right, transparent 10%, rgba(18, 183, 233, 0.6), transparent 90%);
}
.portfolioConceptsList {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.portfolioConceptItem {
	font-family: $bodyFont;
	font-weight: 300;
	font-size: 1.6rem;
	margin: 10px;
	padding-bottom: 10px;
}
.portfolioLinkWrapper {
	display: flex;
	justify-content: center;
}
.portfolioItemLink {
	text-decoration: none;
	font-family: $mainFont;
	font-weight: 300;
	font-size: 1.3rem;
	color: $darkColor;
	background-image: linear-gradient(
						transparent 20%,
						rgba(255,255,255,0.2) 35%,
						transparent 38%),
				linear-gradient(to bottom, 
					rgb(49, 207, 255),
					rgb(1, 104, 136));
	padding: 10px;
	border-radius: 2px;
}
.portfolioItemLink:first-child {
	margin-right: 20px;
}