/* ----- GENERAL SECTION STYLINGS -----*/
section, main, footer {
	padding: 50px 0;
	background-color: $darkColor;
	z-index: -100;
}

// Section title
.sectionHeader {
    position: relative;
}
.sectionHeader__line {
	content: '';
	display: block;
	background-color: $mainColor;
	height: 3px;
	position: absolute;
	bottom: 35%;
	left: 0;
	z-index: 2;
	width: 0;
	transition: all 1.4s ease-out;
}
.sectionHeader__line--slide {
	width: 100%;
}

// Animations
@keyframes headingAccentAnimation {
	0% {
		width: 0;
		opacity: 0;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}
.sectionHeader__title {
	position: relative;
	left: 2%;
	padding: 0 10px;
	font-size: 3rem;
	margin: 0;
	z-index: 10;
	display: inline-block;
    background-color: $darkColor;
	color: $lightColor;
}
.subSection__bodyText {
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.1;
}
.subSection__bodyText em {
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1px;
}